body {
    font-family: 'League Gothic', sans-serif;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    cursor: default;
    overflow-x: hidden;
    color: black;
    background: #666;
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
    padding-top: 5em;
}

li{
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

nav{
  color: #FFF;
  background-color: #222;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em;
  z-index: 999;
}
nav i{
  margin-right: .5em;
}
nav i:hover{
  //background-color: #444;
}

#close{
  float: right;
  margin-right: .75em;
  color : #444;
}

#showFeeds{
  color : #444;

}

#pickFeeds{

}

#profile{
  color : #444;

}
.column{
  width: 100%;
  max-width: 35em;
}

.tagContainer {
    padding-top: 5px;
}

.tag {
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(186, 186, 186);
    color: #222222;
    font-weight: bold;
    margin: 5px;
    float: left;
}

.tag:hover {
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#panel img {
    background: #3c3c3c;
    width: 100%;
    height: auto;
    border-top: .1em solid #3c3c3c;
    border-bottom: .1em solid #3c3c3c;
}

.loading {
    width: 40px;
    display: none;
}

td, td {
    width: 325px;
    vertical-align: top;
    padding: 20px;
    margin: 0px;
}

a:visited {
    color: #525252;
}

h1 {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}

h2, h3, h4 {
    margin: 0;
    padding: 0;
}

.gradientTop {
    background-color: #adadad;
}

.article {
    margin-bottom: .25em;
    width: 100%;
}

.story {
    background-color: #333;
    width: 100%;
}

#feeds{
  background-color: #111;
  margin: 0px;
  padding: 1em;
  padding-bottom: 5em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #eee;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index:99999;
  position:fixed;
  display: none;
}

.feedButton{
    font-size: 1.5em;
    background-color: red;
    padding: 1em;
    margin-bottom: .5em;
    background-color: #222;
}

#panel{
  background-color: #eee;
  margin: 0px;
  padding: .5em;
  padding-bottom: 5em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #111;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index:9999;
  position:fixed;
  display: none;
}
#panel:after{
  content: "End of Article";
  padding-bottom: 1em;
}

.entry {
    padding: 1em;
    width: 100%;
    background-color: #dddddd;
    z-index: 1000;
    display: inline-block;
    box-sizing: border-box;
}

.entryDetails {
    width: 100%;
    height: 100%;
    background-color: #c8c8c8;
}
